version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: scale-media-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - scalemedia-network

volumes:
  mysql-data:
    driver: local

networks:
  scalemedia-network:
    driver: bridge
